---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<html>
  <body>
    <h1>blog</h1>
    <ul>
      {posts.map((post) => (
        <li>
          id = <code>{post.id}</code>
        </li>
      ))}
    </ul>
  </body>
</html>
